---
import type { BlogOrRepoEntry } from "@utils/collections";
import { getBlogsAndRepos } from "@utils/collections";

export async function getStaticPaths() {
  const { allCollections } = await getBlogsAndRepos();

  return allCollections.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}


const { entry } = Astro.props as {
  entry: BlogOrRepoEntry;
};

let ContentComponent = null;
let isContentString = false;

if (entry.render) {
  const rendered = await entry.render();

  // Check if the rendered content is a string
  if (typeof rendered === 'string') {
    isContentString = true;
    ContentComponent = rendered;
  } else {
    ContentComponent = rendered.Content;
  }
}

---

{isContentString ? (
  <div>{ContentComponent}</div>
) : (
  ContentComponent && <ContentComponent />
)}
