---
import Layout from "@layouts/Layout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import Link from "@components/Link.astro";
import Code from "@components/Code.astro";
---

<Layout>
  <MainLayout title="Jobs">
    <span slot="description"> jobs</span>

    <Link name="twitter" href="https://twitter.com/jagmitg" isBlank>
      Twitter
    </Link>
    or
    <Code>jag[at]jagmit.co.uk</Code>.
  </MainLayout>
</Layout>
