---
import Layout from "@layouts/Layout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import Code from "@components/Code.astro";
import { formatDate } from "@utils/formatDate";
import { getBlogsAndRepos } from "@utils/collections";
import type { BlogOrRepoEntry, RepoEntry, BlogEntry } from "@utils/collections";
import External from "@components/icons/External.astro";

const { allCollections } = await getBlogsAndRepos();

const posts = allCollections.sort(
  (b, a) => a.data.date.valueOf() - b.data.date.valueOf(),
);

function isRepoEntry(entry: BlogOrRepoEntry): entry is RepoEntry {
  return "repo" in entry.data;
}

function isBlogEntry(entry: BlogOrRepoEntry): entry is BlogEntry {
  return "image" in entry.data;
}
---

<Layout>
  <MainLayout title="About">
    <div class="grid gap-4 grid-cols-2 grid-rows-2 mt-5 lg:grid-cols-4">
      Gold
    </div>
  </MainLayout>
</Layout>

<style is:inline>
  .external-svg svg {
    color: white;
  }
  .homepage-recent-blog {
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .homepage-recent-blog:hover {
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      var(--bg-url);
  }
</style>
