---
import Layout from "@layouts/Layout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import Code from "@components/Code.astro";
import { formatDate } from "@utils/formatDate";
import { getBlogsAndRepos } from "@utils/collections";

const { allCollections } = await getBlogsAndRepos();

const posts = allCollections.sort(
  (b, a) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<Layout>
  <MainLayout title="About">
    <p class="prose prose-neutral leading-8">
      Principle Full-Stack Engineer with 12+ years of experience in open-source
      technologies. A fervent accessibility advocate, Jag champions an inclusive
      web, demonstrating technical excellence in <Code>TypeScript</Code>,
      <Code>JavaScript</Code>, <Code>Node.js</Code>, <Code>Python</Code>, and
      with a focus on Front-end technologies including <Code>React</Code>,
      <Code>Angular</Code> and <Code>Vue</Code>. He's also a dedicated DevOps
      enthusiast and a strong believer in test-driven development.
    </p>
    <p class="prose prose-neutral leading-8">
      If you have requests for talking, writing, and so on, feel free to ping me
      on my email <Code>jag[at]jagmit.co.uk</Code> .
    </p>
    <div class="grid gap-4 grid-cols-2 grid-rows-2 mt-5 lg:grid-cols-4">
      <!-- <div class="grid gap-4 grid-cols-2 lg:grid-cols-4 mt-5"> -->

      {
        posts.slice(0, 8).map((post) => {
          return (
            <a
              href={post.data.repo ? post.data.repo : `/blog/${post.slug}`}
              class="homepage-recent-blog p-4 border border-neutral-200 bg-neutral-50 rounded flex items-center justify-between px-3 py-4 w-full transition-transform transform hover:-translate-y-2 hover:bg-neutral-200 transition-colors relative shadow-md hover:shadow-xl"
              style={`--bg-url: url(${
                post.data.image
                  ? post.data.image
                  : "/images/brands/github-big.png"
              }); background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.95)), var(--bg-url); background-size: cover; background-position: center;`}
            >
              <div class="flex flex-col">
                <p class="text-white text-sm">
                  {formatDate(new Date(post.data.date))}
                </p>
                <p class="font-bold text-white">{post.data.title}</p>
              </div>
            </a>
          );
        })
      }
    </div>
  </MainLayout>
</Layout>

<style is:inline>
  .homepage-recent-blog {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .homepage-recent-blog:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      var(--bg-url);
  }
</style>
