---
import Layout from "../layouts/Layout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import CompanyLink from "../components/CompanyLink.astro";
import Code from "../components/Code.astro";
---

<Layout>
  <MainLayout title="Jobs">
    <span slot="description">
      I work in Yuimedi as a VPoE and support Souzoh and Tabelog as a Techinical
      Advaser 🥸
    </span>

    I work in Yuimedi as VPoE and in some companies to improve product code.
    Welcome to request a job but please check my skills first. Feel free to
    contact me via
    <Code>jag[at]jagmit.co.uk</Code>.

    <div class="flex gap-4 mt-4 flex-col">
      <Card title="Skills">
        <p>
          I started programming when I was a high school student using JS and C.
          I have been studying image processing for four years, and I also
          conducted research on optimization for ニコニコ動画.
        </p>
        <p>
          Currently, my specialty is web performance and frontend infrastructure
          using tools such as webpack, Turborepo, and Vite. In my main job and
          as a technical advisor, I mainly develop products using Next.js.
        </p>
        <span class="block text-right mt-4 text-sm"
          >👷 maintainer(including past)</span
        >
        <div class="grid xl:grid-cols-2 gap-4 mt-2"></div>
      </Card>
      <Card title="Technical Advisor">
        <div class="mt-4 grid grid-cols-3 md:grid-cols-4 xl:grid-cols-6 gap-2">
          <CompanyLink
            filename="tabelog.jpg"
            alt="tabelog"
            href="https://tabelog.com/"
          />
          <CompanyLink
            filename="mercari.png"
            alt="mercari"
            href="https://jp.mercari.com/"
          />
          <CompanyLink
            filename="anotherworks.webp"
            alt="anotherworks"
            href="https://anotherworks.co.jp/"
          />
          <CompanyLink
            filename="route06.jpg"
            alt="route06"
            href="https://route06.co.jp/"
          />
          <CompanyLink
            filename="alpaca.jpg"
            alt="alpaca"
            href="https://alpaca.markets/"
          />
          <CompanyLink
            filename="black.jpg"
            alt="black"
            href="https://by.black/"
          />
        </div>
      </Card>
    </div>
  </MainLayout>
</Layout>
