---
import Layout from "@layouts/Layout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import Card from "@components/Card.astro";
import CompanyLink from "@components/CompanyLink.astro";
import Code from "@components/Code.astro";
---

<Layout>
  <MainLayout title="Jobs">
    <span slot="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at mauris
      at nisl volutpat faucibus. Nam sed faucibus risus. Nunc erat libero,
      rhoncus et lectus et, auctor lacinia nunc. Vivamus egestas eget nibh at
      gravida. Nam suscipit urna non imperdiet mollis.
    </span>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at mauris
    at nisl volutpat faucibus. Nam sed faucibus risus. Nunc erat libero, rhoncus
    et lectus et, auctor lacinia nunc. Vivamus egestas eget nibh at gravida. Nam
    suscipit urna non imperdiet mollis.
    <Code>jag[at]jagmit.co.uk</Code>.

    <div class="flex gap-4 mt-4 flex-col">
      <Card title="Skills">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
          mauris at nisl volutpat faucibus. Nam sed faucibus risus. Nunc erat
          libero, rhoncus et lectus et, auctor lacinia nunc. Vivamus egestas
          eget nibh at gravida. Nam suscipit urna non imperdiet mollis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
          mauris at nisl volutpat faucibus. Nam sed faucibus risus. Nunc erat
          libero, rhoncus et lectus et, auctor lacinia nunc. Vivamus egestas
          eget nibh at gravida. Nam suscipit urna non imperdiet mollis.
        </p>
        <span class="block text-right mt-4 text-sm"
          >👷 maintainer(including past)</span
        >
        <div class="grid xl:grid-cols-2 gap-4 mt-2"></div>
      </Card>
      <Card title="Technical Advisor">
        <div class="mt-4 grid grid-cols-3 md:grid-cols-4 xl:grid-cols-6 gap-2">
          <!-- <CompanyLink
            filename="tabelog.jpg"
            alt="tabelog"
            href="https://tabelog.com/"
          />
          <CompanyLink
            filename="mercari.png"
            alt="mercari"
            href="https://jp.mercari.com/"
          />
          <CompanyLink
            filename="anotherworks.webp"
            alt="anotherworks"
            href="https://anotherworks.co.jp/"
          />
          <CompanyLink
            filename="route06.jpg"
            alt="route06"
            href="https://route06.co.jp/"
          />
          <CompanyLink
            filename="alpaca.jpg"
            alt="alpaca"
            href="https://alpaca.markets/"
          />
          <CompanyLink
            filename="black.jpg"
            alt="black"
            href="https://by.black/"
          /> -->
        </div>
      </Card>
    </div>
  </MainLayout>
</Layout>
