---
import Layout from "@layouts/Layout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import stackOverflowData from "../data/stackoverflow.json";

const questions = Object.values(stackOverflowData);

const initialLoad = 30;
let loadedQuestions = questions.slice(0, initialLoad);
---

<Layout>
  <MainLayout>
    <h2 class="text-2xl text-center sm:text-left mb-4 sm:mb-0">
      StackOverflow Answers
    </h2>

    <ol id="questionsList" style="list-style:decimal;">
      {
        loadedQuestions.map((question) => (
          <li>
            <h2>
              <a href={question.link} target="_blank" rel="noopener noreferrer">
                {question.title}
              </a>
            </h2>
            <p>Tags: {question.tags.join(", ")}</p>
          </li>
        ))
      }
    </ol>
    <button id="loadMore">Load More</button>
    <div
      id="dataHolder"
      data-questions="{Buffer.from(JSON.stringify(questions)).toString('base64')}"
      style="display: none;"
    >
    </div>
  </MainLayout>
</Layout>
<script is:inline>
  const encodedData = document
    .getElementById("dataHolder")
    .getAttribute("data-questions");
  const decodedData = atob(encodedData);
  const questions = JSON.parse(decodedData);

  let currentIndex = { initialLoad };
  const totalQuestions = questions.length;
  const loadMoreButton = document.getElementById("loadMore");
  const questionsList = document.getElementById("questionsList");

  loadMoreButton.addEventListener("click", () => {
    const nextQuestions = questions.slice(currentIndex, currentIndex + 30);
    if (nextQuestions.length === 0) {
      loadMoreButton.style.display = "none"; // Hide the button if no more questions
      return;
    }

    nextQuestions.forEach((question, index) => {
      const li = document.createElement("li");
      const h2 = document.createElement("h2");
      const link = document.createElement("a");
      link.href = question.link;
      link.target = "_blank";
      link.innerText = question.title;
      link.rel = "noopener noreferrer";

      h2.appendChild(link);

      const tags = document.createElement("p");
      tags.innerText = "Tags: " + question.tags.join(", ");

      li.appendChild(h2);
      li.appendChild(tags);

      questionsList.appendChild(li);
    });

    currentIndex += 30;
  });
</script>
