---
import Layout from '@layouts/Layout.astro'
import MainLayout from '@layouts/MainLayout.astro'
import { getCollection } from 'astro:content'
import External from '@components/icons/External.astro'

const posts = (await getCollection('tool')).filter(
	(post) => post.data.draft !== true
)
---

<Layout>
	<MainLayout title="Tools">
		<div class="grid gap-4 mt-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
			{
				posts.map((tool: any) => (
					<a
						href={tool.data.url}
						target="_blank"
						rel="noopener noreferrer"
						class="group relative p-5 border border-neutral-300 bg-sky-300 rounded-lg shadow-md transform transition-transform duration-500 ease-in-out hover:-translate-y-2 hover:scale-105 hover:bg-sky-400 hover:shadow-xl focus:ring-2 focus:ring-offset-2 focus:ring-sky-500"
					>
						<div class="flex flex-col space-y-2">
							<p class="font-semibold text-black group-hover:text-neutral-900 text-lg transition-colors duration-300 ease-in-out">
								{tool.data.title}
							</p>
						</div>
						<div class="absolute top-4 right-4 text-neutral-500 group-hover:text-neutral-700 transform transition-transform duration-500 ease-in-out group-hover:rotate-45">
							<External />
						</div>
					</a>
				))
			}
		</div>
	</MainLayout>
</Layout>
