---
import { getBlogsAndRepos } from "../../src/utils/collections";

const allPosts = (await getBlogsAndRepos()).allCollections;
const postYears = new Map();

allPosts.forEach((post) => {
  const year = new Date(post.data.date).getFullYear();

  if (!postYears.get(year)) {
    postYears.set(year, []);
  }

  postYears.get(year).push(post);
});
---

<div class="text-lg">&#128278; Archives</div>
<ol class="mt-4">
  {
    [...postYears.entries()].map(([archiveYear, archivePosts]) => (
      <li>
        <a
          href={`/blog/archive/${archiveYear}/`}
          class="text-sm hover:text-blue-800"
        >
          {archiveYear} ({archivePosts.length})
        </a>
      </li>
    ))
  }
</ol>
