<footer class="h-20 border-t-2 border-t-slate-700">
  <div
    class="container mx-auto px-4 flex items-center justify-between h-full text-sm text-black-400"
  >
    <span>
      © {new Date().getFullYear()} - Copyright jagmit.co.uk, All Rights Reserved.
    </span>
  </div>
</footer>
