---
import Image from "../components/Image.astro";
import { PAGE_LINKS } from "../constants";
---

<header
  id="home"
  class="-ml-[8px] tracking-tight border-b-2 border-b-slate-700"
>
  <nav class="flex items-center justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink-0 mr-6">
      <div class="flex flex-row items-center">
        <Image
          src="/images/me.png"
          className="rounded-full w-24 h-24 md:w-32 md:h-32 mr-3"
          alt="Jagmit Gabba"
          width={32 * 4}
          height={32 * 4}
          isOptimization
          lazy={false}
        />

        <h1 class="font-bold text-2xl align-middle">
          <span>Hi, i'm jag &#128513; <br />nice to meet you!</span>
        </h1>
      </div>
    </div>

    <div class="heading-nav w-full block flex-grow lg:flex sm:w-auto">
      <div class="text-lg lg:flex-grow text-right">
        {
          PAGE_LINKS.map(({ title, href, icon }) => {
            let currentPage = Astro.url.pathname === href;
            return (
              <a
                href={href}
                class={`transition-all block mt-4 lg:inline-block lg:mt-0 ${
                  currentPage ? "current-page-class" : ""
                } hover:text-neutral-800 dark:hover:text-neutral-200`}
              >
                <span class="relative py-1 px-2">{title}</span>
              </a>
            );
          })
        }
      </div>
    </div>
  </nav>
</header>
<script>
  const links = document.querySelectorAll("a");

  links.forEach((link) => {
    link.addEventListener("mouseover", () => {
      links.forEach((link) => {
        link.classList.remove("current-page-class");
      });
    });

    link.addEventListener("mouseout", () => {
      links.forEach((link) => {
        if (link.getAttribute("href") === window.location.pathname) {
          link.classList.add("current-page-class");
        }
      });
    });
  });
</script>
<style>
  header h1 span {
    position: relative;
    display: inline-block;
  }

  header h1 span::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: -20px;
    display: inline-block;
    background-color: #000;
    vertical-align: top;
    width: 17px;
    height: 3px;
    animation: blink 1s step-end infinite;
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .heading-nav a {
    position: relative;
    display: inline-block;
    z-index: 0;
  }

  .heading-nav a.current-page-class,
  .heading-nav a:not(.current-page-class):hover {
    font-weight: 700;
  }
  /* .heading-nav a:not(.current-page-class):hover::after { */
  .heading-nav a.current-page-class::after,
  .heading-nav a:not(.current-page-class):hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(215 215 215);
    transition: all ease-in-out;
    transition-delay: 0.1s;
    pointer-events: none;
    z-index: -1;
  }

  .heading-nav a:hover::after,
  .heading-nav a:focus::after,
  .heading-nav a:active::after {
    width: 100%;
  } /*!sc*/
</style>
