---
import { PAGE_LINKS } from "../constants";
---

<header id="home" class="-ml-[8px] tracking-tight">
  <nav class="flex items-center justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink-0 mr-6">
      <h1 class="font-bold text-2xl">
        Hi, i'm jag &#128513; <br />nice to meet you! &#128075;
      </h1>
    </div>

    <div class="w-full block flex-grow lg:flex lg:w-auto">
      <div class="text-sm lg:flex-grow text-right">
        {
          PAGE_LINKS.map(({ title, href, icon }) => {
            let currentPage = Astro.url.pathname === href;
            return (
              <a
                href={href}
                class={`transition-all block mt-4 lg:inline-block lg:mt-0 ${
                  currentPage ? "current-page-class" : ""
                } hover:text-neutral-800 dark:hover:text-neutral-200`}
              >
                <span class="relative py-1 px-2">{title}</span>
              </a>
            );
          })
        }
      </div>
    </div>
  </nav>
</header>
