---
type Props = {
  href: string;
  name?: string;
  icon: string;
};

const { href, name, icon } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="mx-2 opacity-50 hover:opacity-100"
  aria-label={`Link for ${name}`}
>
  <img src={icon} alt={name} class="w-6 h-6" />
</a>
