---
type Props = {
  href: string;
  name: string;
  icon: string;
  text?: string;
  className?: string;
  textClassName?: string;
};

const { href, name, text, className = "w-5 h-5", icon } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="mx-2 opacity-50 hover:opacity-100"
  aria-label={`Link for ${name}`}
>
  <img src={icon} alt={text} class="w-6 h-6" />
</a>
