---
type Props = {
  tags: string[];
};

const { tags } = Astro.props;
---

<div class="flex flex-wrap">
  <div class="select-wrapper">
    <select
      class="customSelectbox border shadow-sm bg-gray-700 border-gray-600 text-gray-300"
      onchange="location.href=`/blog/tags/${this.value}`"
    >
      <option selected disabled>tags...</option>
      {tags.map((tag) => <option value={tag}>{tag}</option>)}
    </select>
  </div>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".dropdown-el").forEach(function (el) {
      el.addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        this.classList.toggle("expanded");
        document.getElementById(e.target.getAttribute("for")).checked = true;
      });
    });

    document.addEventListener("click", function () {
      document.querySelectorAll(".dropdown-el").forEach(function (el) {
        el.classList.remove("expanded");
      });
    });
  });
</script>

<style is:global>
  .select-wrapper {
    display: inline-block;
    position: relative;
  }
  .select-wrapper::after {
    content: "»";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 17px;
    font-size: 24px;
    line-height: 20px;
    pointer-events: none;
    z-index: 0;
    transform: rotate(90deg);
    color: #333333;
  }
  .select-wrapper select {
    position: relative;
    background-color: transparent;
    color: #333333;
    padding: 10px 35px 10px 5px;
    line-height: 20px;
    font-size: 17px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    font-weight: bold;
    text-align-last: center;
  }
</style>
